<ion-header>
  <ion-toolbar *ngIf="characters">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="chat"></ion-back-button>
    </ion-buttons>
    <ion-avatar slot="start">
      <img src="{{characters.image}}" alt="">
    </ion-avatar>
    <ion-title>{{characters.name}}</ion-title>
    
    
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-textarea
    autoGrow
    rows="1"
    placeholder="Enviar Mensaje"
    class="ion-text-center"
    >
    </ion-textarea>
    <ion-buttons slot="end">
      <ion-fab-button size="small" color="primary">
        <ion-icon name="send"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
