<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-button class="color-btn" (click)="toggleMenu()">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title id="prueba2">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar>
        <ion-title align="center">MeetU</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item><ion-buttons><ion-button class="color-btn" routerLink="/home"><ion-icon name="home-outline"></ion-icon><p>&nbsp;Home</p></ion-button></ion-buttons></ion-item>        
        <ion-item><ion-buttons><ion-button class="color-btn" routerLink="/chat"><ion-icon name="mail-open-outline"></ion-icon><p>&nbsp;Mensajeria</p></ion-button></ion-buttons></ion-item>        
        <ion-item><ion-buttons><ion-button class="color-btn" routerLink="/calendar"><ion-icon name="calendar-outline"></ion-icon><p>&nbsp;Agenda</p></ion-button></ion-buttons></ion-item>
        <ion-item><ion-buttons><ion-button class="color-btn" routerLink="#"><ion-icon name="settings-outline"></ion-icon><p>&nbsp;Configuración</p></ion-button></ion-buttons></ion-item>
        <ion-item><ion-buttons><ion-button class="color-btn" (click)="logout()"><ion-icon name="exit-outline"></ion-icon><p>&nbsp;Cerrar sesión</p></ion-button></ion-buttons></ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>

<ion-content>
  <ion-card class="usercard">
    <div class="main_content_div">
      <div class="user_div">
        <div class="first_div">
          <ion-label class="username">Bienvenido,</ion-label>
          <br>
          <ion-subtitle>
            ¿Qué planes tienes hoy? 
          </ion-subtitle>
        </div>
        <div class="user_back" [style.backgroundImage]="'url(assets/images/pic.jpg)'"></div>
      </div>
      <div class="content_div">
        <div class="test_details">
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6">
                <div class="flex_div">
                  <div class="round_div">
                    <img src=".">
                  </div>
                  <div class="details">
                    <ion-label class="bold_lbl">Profesión</ion-label>
                    <br>
                    <ion-label class="small_lbl">Ing. eléctrico</ion-label>
                  </div>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="flex_div">
                  <div class="round_div">
                    <img src=".">
                  </div>
                  <div class="details">
                    <ion-label class="bold_lbl">Diplomado</ion-label>
                    <br>
                    <ion-label class="small_lbl">Management</ion-label>
                  </div>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="flex_div">
                  <div class="round_div">
                    <img src=".">
                  </div>
                  <div class="details">
                    <ion-label class="bold_lbl">Auditor</ion-label>
                    <br>
                    <ion-label class="small_lbl">Sist. de gestión</ion-label>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
  </ion-card>
</ion-content>



