<ion-header>
  <ion-toolbar class="gradient-2">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary" menu="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="gradient-1">
  <ion-card class="usercard ">
    <div class="main_content_div">
      <div class="user_div">
        <div class="first_div">
          <ion-label class="username">Bienvenido, {{usuario.user}}</ion-label>
          <br>
          <ion-subtitle>
            ¿Qué planes tienes hoy ? 
          </ion-subtitle>
        </div>
        <div class="user_back" [style.backgroundImage]="'url(assets/images/pic.jpg)'"></div>
      </div>
      <div class="content_div">
        <div class="test_details">
          <ion-grid fixed>
            <ion-row>
              <ion-col size="6">
                <div class="flex_div">
                  <div class="round_div">
                    <img src=".">
                  </div>
                  <div class="details">
                    <ion-label class="bold_lbl">Profesión</ion-label>
                    <br>
                    <ion-label class="small_lbl">Ing. eléctrico</ion-label>
                  </div>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="flex_div">
                  <div class="round_div">
                    <img src=".">
                  </div>
                  <div class="details">
                    <ion-label class="bold_lbl">Diplomado</ion-label>
                    <br>
                    <ion-label class="small_lbl">Management</ion-label>
                  </div>
                </div>
              </ion-col>
              <ion-col size="6">
                <div class="flex_div">
                  <div class="round_div">
                    <img src=".">
                  </div>
                  <div class="details">
                    <ion-label class="bold_lbl">Auditor</ion-label>
                    <br>
                    <ion-label class="small_lbl">Sist. de gestión</ion-label>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
  </ion-card>
</ion-content>



