<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="color-btn" (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar>
      <ion-title align="center">MeetU</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item><ion-buttons><ion-button class="color-btn" routerLink="/profile"><ion-icon name="person-outline"></ion-icon><p>&nbsp;Perfil</p></ion-button></ion-buttons></ion-item>
      <ion-item><ion-buttons><ion-button class="color-btn" routerLink="/chat"><ion-icon name="mail-open-outline"></ion-icon><p>&nbsp;Mensajeria</p></ion-button></ion-buttons></ion-item>        
      <ion-item><ion-buttons><ion-button class="color-btn" routerLink="/calendar"><ion-icon name="calendar-outline"></ion-icon><p>&nbsp;Agenda</p></ion-button></ion-buttons></ion-item>
      <ion-item><ion-buttons><ion-button class="color-btn" routerLink="#"><ion-icon name="settings-outline"></ion-icon><p>&nbsp;Configuración</p></ion-button></ion-buttons></ion-item>
      <ion-item><ion-buttons><ion-button class="color-btn" routerLink="/login"><ion-icon name="exit-outline"></ion-icon><p>&nbsp;Cerrar sesión</p></ion-button></ion-buttons></ion-item>
      <ion-item>
        <ion-icon slot="start" name="moon"></ion-icon>
        <ion-label>Modo Oscuro</ion-label>
        <ion-toggle slot="end"[ngModel]="darkMode" (ionChange)="cambio()"></ion-toggle>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>
<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-subtitle>Tareas de hoy</ion-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-card>
  <swiper #swiper [config]="config">
    <ng-template swiperSlide>
      <ion-card>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13328.752699868342!2d-70.68704181167791!3d-33.36615299427251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c7c1ba017f13%3A0xeb5ac418f75ed2d6!2sMallplaza%20Norte!5e0!3m2!1ses-419!2scl!4v1661981305356!5m2!1ses-419!2scl"
        width="200px" height="200px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <ion-card-header>
          <ion-card-subtitle>Mall Plaza Norte Falabella</ion-card-subtitle>
          <ion-card-title>Renuion con Prioridad</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Reunión con Product Owner Proyecto Alive
        </ion-card-content>
      </ion-card>
    </ng-template>

    <ng-template swiperSlide>
      <ion-card>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3331.239743502363!2d-70.54834348498208!3d-33.390908980790925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662ceb4663d0783%3A0x689ed61fe12327c4!2sIntegraM%C3%A9dica%20Alto%20las%20Condes!5e0!3m2!1ses-419!2scl!4v1661982234681!5m2!1ses-419!2scl" 
        width="250px" height="250px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <ion-card-header>
          <ion-card-subtitle>Integramedica Las Condes</ion-card-subtitle>
          <ion-card-title>Planificamiento</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Reunión de integracion plan de proyecto Caso Fillz
        </ion-card-content>
      </ion-card>
    </ng-template>

    <ng-template swiperSlide>
      <ion-card>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3330.1246678305038!2d-70.60779788498141!3d-33.419993980782614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf69090a4091%3A0x6e06017c15466a61!2sAv.%20Providencia%202411%2C%20Providencia%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1661982415186!5m2!1ses-419!2scl" 
        width="250px" height="250px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <ion-card-header>
          <ion-card-subtitle>Providencia 2411</ion-card-subtitle>
          <ion-card-title>Reunión con Developers</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Reunión de gestión para proyecto Pichilemu
        </ion-card-content>
      </ion-card>
    </ng-template>

    <ng-template swiperSlide>
      <ion-card>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13315.519292489598!2d-70.57820371163896!3d-33.452437393877936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662ce4a396cff93%3A0x3da8a6f37f2ba003!2sMall%20Plaza%20Ega%C3%B1a!5e0!3m2!1ses-419!2scl!4v1661982625325!5m2!1ses-419!2scl" 
        width="250px" height="250px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <ion-card-header> 
          <ion-card-subtitle>Mall Plaza Egaña</ion-card-subtitle>
          <ion-card-title>Reunión inicial</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Reunión de gestión para proyecto Pichilemu
        </ion-card-content>
      </ion-card>
    </ng-template>
  </swiper>
  </ion-card>
  <ion-content scroll="false" class="has-header" align="center">
    <p>Cargando
      <ion-spinner icon="ios"></ion-spinner>
    </p>
  </ion-content>
</ion-content>


